/* app css stylesheet */
.version {
  color:rgba(0,0,0,0.1);
}


.top-nav {
  position:fixed;
  top:0;
  width:inherit;
  height:55px;
  border-bottom: 0.1em solid black;
  z-index:10;
  vertical-align: middle;
  background-color:white;  
}
.nav-bg{
  background-color:white;  
  height:55px;
  z-index:9;
}
.main-content{
  margin-top:55px;
}

.top-nav ul {
  display:inline-block;
}

.top-nav .align-right{
  float:right;
  list-style: none;
}

.user-name {
  margin-top:1px;
  margin-bottom:30px;
}

ul.menu{
  height:55px;
}

.menu {
  list-style: none;
}

.menu li {
  display: inline-block;
  height:55px;
  line-height:55px;
}

.menu li a {
  vertical-align:middle;
  padding-right: 0.3em;
  padding-left: 0.3em;
  padding-top:0.1em;
  padding-bottom:0.1em;
  border-right:1px solid blue;
  border-left:1px solid blue;
}
.menu li a:last-child {
  border-right:1px solid transparent;
}
.menu li a:first-child {
  border-left:1px solid transparent;
}

.search-bar {
  margin-bottom:20px;
}

.task-item{
  padding:15px 20px 15px 10px;
  /*border-bottom:1px solid rgba(0,0,0,0.1);*/
  border-top:1px solid rgba(0,0,0,0.1);
  border-left:3px solid rgba(0,0,0,0.1);
  border-right:1px solid rgba(0,0,0,0.1);
  
}
.right-view {
  /*position:fixed;
  right:0;
  top:150px;
  width:33%;*/
}
.task-item img {
  height:1.5em;
  position:relative;
  vertical-align:middle;
}
.right-view img{
  height:1em;
  margin-right:5px;
  vertical-align:middle;
}

.timer{
  /*position:absolute;
  left:0;
  transform:translateX(-50%);
  padding-right:40px;*/
  display:inline-block;
  vertical-align: middle;
}

.paused{
  color:red;
  opacity:0.5;
}
.no-padding {
  padding:0;
}
.padding-bottom {
  padding-bottom:10px;
}

.right-view-title{
  padding-bottom:10px;
  padding-top:10px;
  margin-bottom:10px;
  border-bottom:1px solid rgba(0,0,0,0.2);
  border-top:1px solid rgba(0,0,0,0.2);
}
.select-default.select-active{
  opacity:1;
  border-left:3px solid rgba(50,50,100,1);
}
.select-default{
  /*opacity:0.3; */
}

.task-status,
.task-name,
.task-date,
.task-summary {
  vertical-align:top;
  display:inline-block;
}
.task-date{
  float:right;
}

.task-priority {
  vertical-align:-webkit-baseline-middle;
  vertical-align:middle;
  display: inline-block;
  margin:0 10px;
}
.task-date-title{
  font-weight: 700;
  text-align: center;
}

img.task-priority { 
  line-height:1.5em;  
}

.task-summary{
  padding-left:20px;
  display:inline-block;
  font-weight:600;
  /*max-width:450px;*/
}

button{
  opacity:0.6;
  padding:4px 15px;
  border:none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}
input{
  height:28px;
  margin-left:10px;
  margin-right:10px;
}

.active-button {
  opacity:1;
  background-color:rgba(50,50,100,1);
  color:white;
}
.task-title-date{
  padding-right:20px;
}
.task-title-date:after{
  background-image:url('./img/down-arrow.png');
  background-size:cover;
  width:20px;

}