@font-face{
	font-family:'raleway';
	font-weight:100;
	src: url('fonts/Raleway/Raleway-Regular.ttf');
}

@font-face{
	font-family:'raleway';
	font-weight:400;
	src: url('fonts/Raleway/Raleway-Light.ttf');
}

@font-face{
	font-family:'raleway';
	font-weight:600;
	src: url('fonts/Raleway/Raleway-SemiBold.ttf');
}


@font-face{
	font-family:'Ubuntu';
	font-weight:100;
	src: url('fonts/Ubuntu/Ubuntu-Light.ttf');
}

@font-face{
	font-family:'Ubuntu';
	font-weight:400;
	src: url('fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face{
	font-family:'Ubuntu';
	font-weight:600;
	src: url('fonts/Ubuntu/Ubuntu-Bold.ttf');
}


@font-face{
	font-family:'Quicksand';
	font-weight:100;
	src: url('fonts/Quicksand/Quicksand-Light.ttf');
}

@font-face{
	font-family:'Quicksand';
	font-weight:400;
	src: url('fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face{
	font-family:'Quicksand';
	font-weight:600;
	src: url('fonts/Quicksand/Quicksand-Bold.ttf');
}


@font-face{
	font-family:'Poiret-One';
	font-weight:400;
	src: url('fonts/Poiret_one/PoiretOne-Regular.ttf');
}



