headernav{
	svg{
		display:inline-block;
		width:25px;
		font-size:inherit;
	  vertical-align: middle;

		circle,
		polygon,
		rect,
		path{
			fill:$my_white;
		}
		&:hover{
			circle,
			polygon,
			rect,
			path{
				fill:$my_white_alt;
			}
		}	
	}
}
svg{
	display:inline-block;
	width:25px;
	font-size:inherit;
  vertical-align: middle;

	circle,
	polygon,
	rect,
	path{
		fill:rgba(0,0,0,0.56);
	}
	&:hover{
		circle,
		polygon,
		rect,
		path{
			fill:rgba(0,0,0,0.56);
		}
	}	
}
.disabled{
	display:none;
}