// Colors
$my_purple: 			#52007e;
$my_purple_alt: 	rgb(  58,   0, 132);
$my_white: 				rgb( 245, 245, 245);
$my_white_alt: 		rgb( 205, 205, 205);
$my_black: 				rgb(  10,  10,  10);

$bg_color: 				$my_white;
$bg_color_tasks:	white;