card-dragger{
	background-color:white;
	max-width:225px;
	border-radius:10px;
	position: absolute;
	cursor: pointer;
	text-align:center;
	img{
		border-radius:10px;
	}
}

::-webkit-scrollbar	{ 
	display:none;
	width:0;
}
::-webkit-scrollbar-button	{ 
	display:none;
	width:0;
}
::-webkit-scrollbar-track	{ 
	display:none;
	width:0;
}
::-webkit-scrollbar-track-piece	{ 
	display:none;
	width:0;
}
::-webkit-scrollbar-thumb	{ 
	display:none;
	width:0;
}
::-webkit-scrollbar-corner	{ 
	display:none;
	width:0;
}
::-webkit-resizer	{ 
	display:none;
	width:0;
}

md-content{
	position:relative;
}