card-dragger{
	background-color:white;
	max-width:225px;
	border-radius:10px;
	position: absolute;
	cursor: pointer;
	text-align:center;
	img{
		border-radius:10px;
	}
}

::-webkit-scrollbar	{ 
	display:none;
	width:0;
}
::-webkit-scrollbar-button	{ 
	display:none;
	width:0;
}
::-webkit-scrollbar-track	{ 
	display:none;
	width:0;
}
::-webkit-scrollbar-track-piece	{ 
	display:none;
	width:0;
}
::-webkit-scrollbar-thumb	{ 
	display:none;
	width:0;
}
::-webkit-scrollbar-corner	{ 
	display:none;
	width:0;
}
::-webkit-resizer	{ 
	display:none;
	width:0;
}

md-content{
	position:relative;
}
.md-autocomplete-suggestions-container.md-default-theme li .highlight, 
.md-autocomplete-suggestions-container li .highlight{
	color:red;
}
md-icon:focus{
	outline: none;
}
.pick{
	text-align: center;
	text-transform:capitalize;
}
draft{
	md-data-table-container{
		overflow:auto;
		table.md-table{
			height:100%;
			thead.md-head{
				width:100%; 
				display:block;
			}
			td.md-cell.ng-scope.md-clickable {
		  	min-width: 132px;
			}
			tbody.md-body{
				display:block;
				width:100%;
				overflow:auto;
			}
			tr{
				th:first-child{
					min-width:63px;
				}
			}
		}
	}
	
}

expected-pick-order{
	color: rgba(0,0,0,.87);
	
	epo-list{
		width:100%;
		overflow: auto;
		border-left: 1px solid rgba(1,1,1,0.2);
		display:block;
		epo-title{
		font-weight:500;
		}

		epo-item,
		epo-title{
			width:100%;
			display:block;
			padding:5px 10px;
			border-bottom: 1px solid rgba(1,1,1,0.2);
			height: 30px;
			font-size:13px;

			.card-name{
				text-align:left;
				display:inline-block;
			}
			.card-stats{

				float:right;
				text-align:right;
				display:inline-block;
			}

		}

		epo-body{
			width:100%;
			display:block;
		}
	}

	card-filter-search{
		display:block;
		border-bottom: 1px solid rgba(1,1,1,0.2);
		border-left: 1px solid rgba(1,1,1,0.2);
		padding:0 10px;
		
		.filter-div{
			text-transform: capitalize;
			display:inline-block;
		}
		
		.filter-options{
			max-height:0;
			display:none;
			opacity:0;
			transition:all 0.25s ease-in;
		}
		
		.filter-options.visible{
			transition:all 0.25s ease-in;
			max-height:600px;
			display:block;
			overflow:auto;
			opacity:1;
			font-size:13px;
			color:rgba(0,0,0,.87);
		}

		h4{
			font-size:14px;
		}
	}
}


