<headernav ng-controller="HeaderController"></headernav>

<!-- Filter -->

<md-content id="main" layout="row">
	<div ng-show="!draft" flex style="text-align:center;"> 
		No GoogleSheets Available 
	</div>
	<draft ng-show="draft" flex layout="column" layout-style="center strech">
		<draft-head layout="row" layout-align="space-around center">
			<draft-round-number></draft-round-number>
			<draft-player ng-repeat="player in draft.players" flex> <div class="pick">{{player}}</div></draft-player>
		</draft-head>
		<draft-body>
			<draft-round ng-repeat="(key, row) in draft.picks track by $index" layout="row"  layout-align="space-around center">
				<draft-round-number>
					<div class="number-container">{{key+1}}</div>
				</draft-round-number>
				<draft-pick ng-click="viewCard(pick)" ng-repeat="(seatNumber, pick) in row track by $index" flex>
					<div class="pick" ng-if="pick">{{pick}}</div>
					<!-- <md-button ng-if="seatNumber+1 == settings.seat_number && !pick && key+1==draft_round && !settings.spectator" ng-click="showPickDialog($event)" style="margin:0;"> Pick </md-button> -->
				</draft-pick>
			</draft-round>
		</draft-body>
	</draft>
	<expected-pick-order layout="column" flex="20">
	
		<card-filter-search>
			<div ng-controller="PickDialogController">
				<md-autocomplete md-selected-item="selectedItem" md-selected-item-change="viewCard(selectedItem)" md-search-text="searchText" md-delay="400" md-item-text="item"  md-items="item in localSearch(searchText)" style="margin-top:10px;">
		            <md-item-template>
		                <span md-highlight-text="searchText">{{item}}</span>
		            </md-item-template>
		            <md-not-found>
		                No card matching "{{searchText}}" was found.
		            </md-not-found>
		        </md-autocomplete>
	        </div>

			</card-search>
			<div layout="row" flex>
				<h4>Filter Options</h4>
				<span flex></span>
				<md-button class="md-icon-button" aria-label="More">
					<md-icon ng-click="toggleHidden()" md-svg-icon="img/svg/menu.svg"></md-icon>
				</md-button>	
			</div>

			<div ng-class="{'visible': cardFilter.visible}" class="filter-options"> 
				<form name="cardFilterForm">
					
					<h4 layout="row" flex>Color</h4>
					
					<div layout="row" flex>
						<div class="filter-div">white </div>
						<span flex></span>
						<md-checkbox class="md-primary" aria-label="checked checkbox" ng-model="formdata.colors.white" ng-init="formdata.colors.white=true"></md-checkbox>
					</div>
					<div layout="row" flex>
						<div class="filter-div">blue </div>
						<span flex></span>
						<md-checkbox class="md-primary" aria-label="checked checkbox" ng-model="formdata.colors.blue" ng-init="formdata.colors.blue=true"></md-checkbox>
					</div>
					<div layout="row" flex>
						<div class="filter-div">black </div>
						<span flex></span>
						<md-checkbox class="md-primary" aria-label="checked checkbox" ng-model="formdata.colors.black" ng-init="formdata.colors.black=true"></md-checkbox>
					</div>
					<div layout="row" flex>
						<div class="filter-div">red </div>
						<span flex></span>
						<md-checkbox class="md-primary" aria-label="checked checkbox" ng-model="formdata.colors.red" ng-init="formdata.colors.red=true"></md-checkbox>
					</div>
					<div layout="row" flex>
						<div class="filter-div">green </div>
						<span flex></span>
						<md-checkbox class="md-primary" aria-label="checked checkbox" ng-model="formdata.colors.green" ng-init="formdata.colors.green=true"></md-checkbox>
					</div>
					
					<div layout="row" flex>
						<div class="filter-div">colourless </div>
						<span flex></span>
						<md-checkbox class="md-primary" aria-label="checked checkbox" ng-model="formdata.colourless" ng-init="formdata.colourless=true"></md-checkbox>
					</div>	

					<h4 layout="row" flex>Type</h4>
					
					<div layout="row" flex>
						<div class="filter-div">land </div>
						<span flex></span>
						<md-checkbox class="md-primary" aria-label="checked checkbox" ng-model="formdata.types.land" ng-init="formdata.types.land=true"></md-checkbox>
					</div>
					<div layout="row" flex>
						<div class="filter-div">Creatures </div>
						<span flex></span>
						<md-checkbox class="md-primary" aria-label="checked checkbox" ng-model="formdata.types.creature" ng-init="formdata.types.creature=true"></md-checkbox>
					</div>
					<div layout="row" flex>
						<div class="filter-div">Artifact </div>
						<span flex></span>
						<md-checkbox class="md-primary" aria-label="checked checkbox" ng-model="formdata.types.artifact" ng-init="formdata.types.artifact=true"></md-checkbox>
					</div>

					<div layout="row" flex>
						<md-button class="md-primary" ng-click="updateFilter(formdata)" flex>
							Filter
						</md-button>
						<md-button class="md-primary" ng-click="resetFilter()" flex>
							Reset
						</md-button>
					</div>
				</form>
			</div>
		</card-filter-search>

		<epo-list>
			<epo-title>
				<div class="card-name">
					Card Name
				</div>
				<div class="card-stats">
					Expected Pick Ord
				</div>
			</epo-title>
			<epo-body>
				<epo-item ng-repeat="card in EPO | cardChosen:pickList:cardFilter | orderBy:'VRD_EPO' track by $index" layout="row"  layout-align="space-between center">
					<div class="card-name" ng-click="viewCard(card.name)" style="max-width:180px;">
						{{card.name}}
					</div>
					<div class="card-stats" ng-if="card.VRD_EPO <= 16" style="min-width:100px; position:relative;">
						P: {{card.VRD_EPO | limitTo: 5}} ({{card.VRD_numTD}})
						<md-icon class="light" ng-click="removeCard(card)" class="epo-remove-card" md-svg-src="img/svg/close.svg" aria-label="Remove Card"></md-icon>
					</div>
					<div class="card-stats" ng-if="card.VRD_EPO > 16" style="min-width:100px; position:relative;"> 
						R: {{card.VRD_EPO/8 | limitTo: 4}} ({{card.VRD_numTD}})
						<md-icon class="light"  ng-click="removeCard(card)" class="epo-remove-card" md-svg-src="img/svg/close.svg" aria-label="Remove Card"></md-icon>
					</div>
				</epo-item>
			</epo-body>
		</epo-list>
	</expected-pick-order>
		
	<card-dragger id="popup" flex="20">
		<div ng-if="cardView">
			<img ng-if="cardImage != 'https://image.deckbrew.com/mtg/multiverseid/0.jpg'" src="{{cardImage}}" alt="{{cardView.name}}">
			<div ng-if="cardImage == 'https://image.deckbrew.com/mtg/multiverseid/0.jpg'">
				<div>{{cardView.name}}</div>
				<div>{{cmc}}</div>	
				<div>{{cardView.colors}}</div>
				<div>{{cardView.types}}</div>
				<div>{{cardView.text}}</div>
			</div>
		</div>
		<div ng-if="!cardView">
		</div>
	</card-dragger>
</md-content>



