<headernav ng-controller="HeaderController"></headernav>

<!-- Filter -->

<md-content id="main">
	<div ng-show="!draft" flex style="text-align:center;"> 
		No GoogleSheets Available 
	</div>
	<draft ng-show="draft" flex="80" layout="row" layout-style="center strech">
		<md-data-table-container>
			<table md-table md-row-select style="height:100%;">
				<thead md-head style="width:100%; display:block;">
					<tr md-row>
						<th md-column>Num</th>
						<th md-column ng-repeat="player in draft.players"> {{player}} </th>	
					</tr>
				</thead>
				<tbody md-body style="display:block; width: 100%; overflow: auto;">
					<tr md-row ng-repeat="(key, row) in draft.picks track by $index" >
						<td md-cell>{{key+1}}</td>
						<td md-cell ng-click="viewCard($event, key, seatNumber)" ng-repeat="(seatNumber, pick) in row track by $index">
							<div class="pick" ng-if="pick">{{pick}}</div>
							<md-button ng-if="seatNumber+1 == settings.seat_number && !pick && key+1==draft_round" ng-click="showPickDialog($event)">
								Pick
							</md-button>
						</td>
					</tr>
				</tbody>
			</table>
		</md-data-table-container>
	</draft>

	<card-dragger id="popup" flex="20">
		<div ng-if="cardView">
			<img ng-if="cardImage != 'https://image.deckbrew.com/mtg/multiverseid/0.jpg'" src="{{cardImage}}" alt="{{cardView.name}}">
			<div ng-if="cardImage == 'https://image.deckbrew.com/mtg/multiverseid/0.jpg'">
				<div>{{cardView.name}}</div>
				<div>{{cmc}}</div>	
				<div>{{cardView.colors}}</div>
				<div>{{cardView.types}}</div>
				<div>{{cardView.text}}</div>
			</div>
		</div>
		<div ng-if="!cardView">
			No Cards
		</div>
	</card-dragger>
</md-content>



